/* div.dataTables_wrapper div.dataTables_filter{
	bottom: 0;
    position: absolute;
    right: 0;
} */

div.check-list{
	margin: 0 0 15px 0;
}

div.check-list label{
	margin: 0 10px 0 0;
}

div.check-list p{
	font-weight: bold;
}

div.check-list div.icheckbox_flat-green{
	margin: 0 5px 0 0;
}

table#item-table tr td:nth-child(3){
	font-weight: bold;
}

table.dataTable tbody tr.selected {
  background-color: #B0BED9;
}

table.dataTable td {
    cursor: pointer;
}

div.input-div div.row{
	margin-bottom: 10px;
}

div.input-label{
	text-align: center;
}